.info-product-list__container
    h3.info-product-list__title Характерные параметры нашей системы
    ul.info-product-list__list
      each val in parameters
        li.info-product-list__list-item= '- ' + val
