@import 'list';
@import 'form';

.contact-us {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    transform: translateY(100vh);

    transition: transform calc(var(--transition-duration)*3);

    &.contact-us-show {
        transform: translateY(0);
    }

    &__container {
        --container-justify-content: center;
    }
}
