extends common/layout

block content
  main.main(data-role="main-content")
    -var mix = 'main__safety'
    include includes/index/section/safety/index
    -var mix = 'main__info-product'
    include includes/index/section/info-product/index
    -var mix = 'main__info-suggestions'
    include includes/index/section/suggestions/index
    -var mix = 'main__info-partners'
    include includes/index/section/partners/index
    -var mix = 'main__info-contact-us'
    include includes/index/section/contact-us/index
    -var mix = 'main__copyright'
    include includes/index/copyright
    -var mix = 'main__navigation'
    include includes/index/navigation
