.info-product-text {
    margin: 0 0;

    &__item {
        color: var(--color-light-black);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        margin: 0 0 30px;

        @include media-from($media-tablet-horizontal) {
            width: 95%;
        }


        &_high {
            font-weight: 700;

            @include media-till($media-tablet-horizontal) {
                font-size: 18px;
            }

            @include media-from($media-tablet-horizontal) {
                font-size: 20px;
            }
        }
    }
}
