:root {
    --container-align-items: center;
    --container-justify-content: space-between;
    --container-flex-direction: row;
}

.container {
    padding-left: var(--page-gap);
    padding-right: var(--page-gap);

    @include media-from($media-tablet-horizontal) {
        display: flex;
        justify-content: var(--container-justify-content);
        align-items: var(--container-align-items);
        flex-direction: var(--container-flex-direction);

        height: 100vh;

        margin: auto;
    }
}
