@import '../libs/normalize';

*,
*::before,
*::after {
    box-sizing: inherit;

    font-family: $font-family;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;

    @include media-till($media-tablet-horizontal) {
        background-color: #DDF4FE;
    }

    @include media-from($media-tablet-horizontal) {
        background: url('../img/common/body-bg.jpg') no-repeat;
        background-size: cover;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.main {
    position: relative;

    @include media-from($media-tablet-horizontal) {
        max-height: 100vh;
        overflow-y: hidden;
    }
}
