// Fonts
$font-family: 'Roboto';

// Mobile first
$media-mobile: 320px;
$media-tablet: 768px;
$media-tablet-horizontal: 1024px;
$media-laptop: 1366px;

:root {
    // Color
    --color-black: #000;
    --color-white: #fff;

    --color-red: #C50000;
    --color-light-blue: #7AC3D4;
    --color-lighting-blue: #F2FDFF;
    --color-blue: #005F94;
    --color-dark-blue: #00415F;
    --color-darkest-blue: #06365B;

    // Animations
    --transition-duration: 500ms;
}




