div.first-color(class=`${mix}` data-role="first-color-section")
    picture
        source(data-srcset="img/first-color/top-mobile@1x.png 1x, img/first-color/top-mobile@2x.png 2x" media="screen and (max-width: 1023px)" data-lazy)
        source(data-srcset="img/first-color/top-desk@1x.png 1x, img/first-color/top-desk@2x.png 2x" media="screen and (min-width: 1024px)" data-lazy)
        img(class="first-color__back-image first-color__back-image_top" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")
    picture
        source(data-srcset="img/first-color/bottom-mobile.png" media="screen and (max-width: 1023px)" data-lazy)
        source(data-srcset="img/first-color/bottom-desk.png" media="screen and (min-width: 1024px)" data-lazy)
        img(class="first-color__back-image first-color__back-image_bottom" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")
    h2.first-color__title
        span.first-color__title-main Наша первая перманентная краска
        span.first-color__title-sub New
