section.suggestions(class=`${mix}` data-role="suggestions")
    .suggestions__container.container
        h1.suggestions__title Что мы можем <br>предложить?
        p.suggestions__text
            | Интеллектуальная система <span class="suggestions__text_bold">SecureMyHouse</span> предоставляется как услуга. <br>
            | После установки и наладки системы она полностью нами поддерживается. <br>
            | В случае неполадок команда приедет к вам и все устранит
        p.suggestions__text
            | Стоимость системы - <span class="suggestions__text_red">10 000 руб</span>
        .suggestions__list
           p.suggestions__text.suggestions__list-title Также предусмотрены:
           ul.suggestions__list-list
            li.suggestions__text.suggestions__list-item
                | - гарантийное обслуживание - <span class="suggestions__text_red">5 лет</span>
            li.suggestions__text.suggestions__list-item
                | - аренда - возможно продление или возврат системы обратно <span class="suggestions__text_red">(аренда&nbsp;-&nbsp;1000 руб/месяц)</span>
            li.suggestions__text.suggestions__list-item
                | - пробный период <span class="suggestions__text_red">один месяц</span>
            li.suggestions__text.suggestions__list-item
                | - страховка - <span class="suggestions__text_red">1500 руб/год</span>
        .suggestions__form-link
            | Подробнее узнать о наших услугах или купить систему - <a href="#" data-role="anchor-section" data-anchor-section-name="contact-us-section" class="suggestions__link">форма для вопросов</a>
