.copyright {
    padding-left: var(--page-gap);
    padding-right: var(--page-gap);

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    @include media-from($media-tablet) {
        position: fixed;
        bottom: 30px;
    }
}
