.copyright {
    padding-left: var(--page-gap);
    padding-right: var(--page-gap);

    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    @include media-till($media-tablet-horizontal) {
        margin: 60px 0 0;
    }

    @include media-from($media-tablet-horizontal) {
        position: fixed;
        bottom: 10px;
    }
}
